doctype html
html
    head
        link(rel="stylesheet", href="/css/bootstrap/bootstrap.min.css")
    body
        div.form-row
            div.col.form-group.col-md-9 
            div.col.form-group.col-md-3 
                form(method="post" action="/user/logout")   
                    button.btn.btn-dark.btn-block(type="submit") Logout
        h2 Welcome #{user.firstName}
        figure.figure
            img.figure-img.img-fluid.rounded(src="..." alt="...")
            figcaption.figure-caption Caption
        a(href='/customer/register') Register New Client
        p Here is your information
        table.table
            thead.thead-dark
                tr
                    th First Name 
                    td #{user.firstName}
                tr
                    th Last Name 
                    td #{user.lastName}
                tr
                    th Car
                    td #{user.cars}
                tr
                    th Birthday
                    td #{user.birthday}
                tr
                    th E- mail
                    td #{user.email}
                tr
                    th Gender
                    td #{user.gender}
                tr
                    th Date of Registration
                    td #{user.updated_at}
                tr 
                        td(colspan="2")
                            form(action='/salesExec/salesEdit' method='GET')
                                button.btn.btn-dark.btn-block(type="submit") Edit